<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>ADMINISTRATOR MODE</title>
		<link rel="stylesheet" href="../../static/css/editUserAccount.css" th:href="@{/css/editUserAccount.css}">
</head>
<body>
	<header th:replace="admin/administrator.html :: header">
		<div class="container">
			<div id="bank-title">
				<a th:href="@{/}">Cyber Knox</a>
			</div>
			<div>
				<ul id="header-list">
					<a th:href="@{/}"><li id="home"><span id="icon02">I</span> Home</li></a>
					<a th:href="@{/administrator}"><li id="admin"><span id="icon02">A</span> Enter Administrator Mode</li></a>
				</ul>
			</div>
			<div id="log-sign-header">
				<a th:href="@{/login}"><button>Login</button></a>
				<a th:href="@{/signup}"><button>Sign up</button></a>
			</div>
		</div>
	</header>

	<section>
		<div><h1>Edit <span th:text="${employee.firstName} +' '+ ${employee.lastName}">full name</span></h1></div>
		<div id="form-container">
			<form th:action="@{/processEditEmployeeA}" method="GET" th:object="${employee}">
				<table>
						<input type="hidden" th:field="*{employeeId}">
						<tr>
							<td>First name: </td>
							<td id="right"><input type="text" th:field="*{firstName}"></td>
						</tr>
						<tr>
							<td>Last name: </td>
							<td id="right"><input type="text" th:field="*{lastName}"></td>
						</tr>
					</table>
					<div id="submit-container">
						<button id="reset-btn" onclick="window.location.reload()">Cancel</button>
						<input type="submit" value="Confirm">
					</div>
			</form>
		</div>
	</section>

</body>
</html>