<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Employee Profile</title>
	<link rel="stylesheet" href="../../static/css/userProfile.css" th:href="@{/css/userProfile.css}">
</head>
<body>
	<header th:replace="employee/employee.html :: empheader"></header>
	<section id="main">
		<h1>Employee Profile</h1>
		<form th:href="@{/processEditEmployeeProfile}" id="profileEmp" th:object="${employee}" method="GET">
			<div>
				<input type="hidden" name="employeeId" th:field="*{employeeId}">
				<label>First Name:	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</label>
				<input type="text" th:field="*{firstName}">
			</div>
			<div>
				<label>Last Name:	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;</label>
				<input type="text" th:field="*{lastName}">
			</div>
			<div>
				<input type="hidden" th:field="*{startDate}">
			</div>
			<div id="btn-container">
				<a th:href="@{/employee}"><button type="button" id="cancel">CANCEL</button></a>
				<input type="submit" value="UPDATE">
			</div>
		</form>
	</section>
</body>
</html>