@import url('header.css');
@import url('fonts.css');
@import url('root.css');

#admin {
	background-color: aliceblue;
	box-shadow: 0px 0px 5px aliceblue;
	color: var(--vivid-purple);
	pointer-events: none; 
}

body {
	background-image: linear-gradient(
		135deg,
	    var(--vivid-purple), 
		var(--vivid-blue));
	background-repeat: no-repeat;
	height: 100vh;
}

section {
	background-color: aliceblue;
	box-shadow: 0px 0px 50px rgba(85, 85, 85, 0.705);
	width: 80%;
	margin: 30px auto;
	border: none;
	border-radius: 20px;
	padding: 50px;
}

section div h1 {
	font-size: 250%;
	color: var(--vivid-purple);
}

#features {
	margin-top: 20px;
}

#features a button {
	padding: 10px 20px;
	font-size: 120%;
	background-color: var(--vivid-purple);
	color: white;
	border: none;
	border-radius: 10px;
	margin: 10px;
}

#features a button:hover {
	box-shadow: 0px 0px 5px var(--vivid-purple);
}

ul a {
	display: table;
}

ul a li {
	display: table-cell;
	vertical-align: middle;
}