@import url('header.css');
@import url('fonts.css');
@import url('root.css');
@import url('userProfile.css');

input[type="text"], input[type="password"],
input[type="email"], input[type="date"], #gender {
	border: 2px solid rgb(145, 144, 172);
	border-radius: 15px;
	padding: 5px 10px;
	font-size: 100%;
	color: var(--text-colour);
	outline: none;
	background-color: rgb(232, 241, 247);
}

#submit-container {
	text-align: right;
	padding-right: 50px;
	margin-top: 20px;
}

input[type="submit"], #reset-btn {
	border: none;
	background-image: linear-gradient(
		135deg,
	    var(--vivid-purple), 
		var(--vivid-blue));
	font-family: 'product sans';
	font-size: 100%;
	padding: 8px 20px;
	color: white;
	border-radius: 50px;
	transition: 0.4s;
	margin-left: 20px;
}

input[type="submit"]:hover {
	background-image: linear-gradient(aliceblue, aliceblue);
	box-shadow: 0px 0px 10px var(--vivid-green);
	color: var(--vivid-green);
	transition: 0.4s;
}

#reset-btn:hover {
	background-image: linear-gradient(aliceblue, aliceblue);
	box-shadow: 0px 0px 10px var(--vivid-red);
	color: var(--vivid-red);
	transition: 0.4s;
}