@import url('header.css');
@import url('fonts.css');
@import url('root.css');
@import url('userProfile.css');

body {
	background-image: linear-gradient(
		135deg,
	    var(--vivid-purple), 
		var(--vivid-blue));
	background-repeat: no-repeat;
	height: 100vh;
}

section {
	background-color: aliceblue;
	box-shadow: 0px 0px 50px rgba(85, 85, 85, 0.705);
	width: 30%;
	margin: 30px auto;
	border: none;
	border-radius: 20px;
	padding: 50px;
}

h1 {
	color: var(--vivid-purple);
	font-size: 270%;
	margin-bottom: 10px;
	text-align: center;
}

section div {
	text-align: center;
}

table {
	font-size: 120%;
	margin: 0px auto;
	margin-top: 20px;
}

#table-container {
	margin: 0 auto;
	padding: 0;
} 

section div a button {
	color: white;
	padding: 5px 10px;
	border: none;
	font-size: 80%;
	border-radius: 6px;
}

section div a #edit {
	background-color: var(--vivid-green);
}

section div a #delete {
	background-color: var(--vivid-red);
}

#edit:hover {
	box-shadow: 0px 0px 5px var(--vivid-green);
}

#delete:hover {
	box-shadow: 0px 0px 5px var(--vivid-red);	
}

